h1{
    color:#D7DF01;
    background-color: #01DF74;
}
h3{
    
    background-color: #01DF74;
}
h4{
    
    background-color: #01DF74;
}
 
img {width: 400px;
}
#thirdDiv{
    width: 500px; height: 800px ;
    background-color: #01DF74;
    border: #DF3A01 20px double;
    text-align: center;
    margin:0 auto;
    justify-content: center;
}
.divClass{
    text-align: center;

}  
#spanId{
    font-size: 18px;
    margin: 50px;
    padding: 50px;
    background-color: #01DF74;

}